h1{
    color:rgb(20, 23, 71);
    font-size: 4em;
    text-shadow: 0px 0px 5px rgb(86, 147, 204),
                 0px 2px 10px rgb(125, 204, 218);
}
body{
    background: url(https://images.unsplash.com/photo-1553152531-b98a2fc8d3bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    font-family: 'Chelsea Market', cursive;
    color:white;
}
#content{
    text-align:center;
    padding:25%;
    
}
